@model IEnumerable<WebApp.Models.Student>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddmissionDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddmissionDate)
        </td>
    </tr>
}

</table>
